## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

In [0]:
python -m ensurepip --default-pip

SyntaxError: invalid syntax (<ipython-input-4-99e4d36e16e3>, line 1)

In [0]:
!pip install keras

Requirement already satisfied: keras in c:\users\niranjan.nilekani\appdata\local\continuum\anaconda3\lib\site-packages (2.2.4)
Requirement already satisfied: six>=1.9.0 in c:\users\niranjan.nilekani\appdata\local\continuum\anaconda3\lib\site-packages (from keras) (1.11.0)
Requirement already satisfied: scipy>=0.14 in c:\users\niranjan.nilekani\appdata\local\continuum\anaconda3\lib\site-packages (from keras) (1.1.0)
Requirement already satisfied: numpy>=1.9.1 in c:\users\niranjan.nilekani\appdata\local\continuum\anaconda3\lib\site-packages (from keras) (1.15.1)
Requirement already satisfied: keras-applications>=1.0.6 in c:\users\niranjan.nilekani\appdata\local\continuum\anaconda3\lib\site-packages (from keras) (1.0.7)
Requirement already satisfied: keras-preprocessing>=1.0.5 in c:\users\niranjan.nilekani\appdata\local\continuum\anaconda3\lib\site-packages (from keras) (1.0.9)
Requirement already satisfied: h5py in c:\users\niranjan.nilekani\appdata\local\continuum\anaconda3\lib\site-packages (from keras) (2.8.0)
Requirement already satisfied: pyyaml in c:\users\niranjan.nilekani\appdata\local\continuum\anaconda3\lib\site-packages (from keras) (3.13)

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Load tensorflow

In [0]:
import tensorflow as tf

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [0]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('/gdrive/My Drive/Colab Notebooks/prices.csv')

### Check all columns in the dataset

In [0]:
data.dtypes

date       object
symbol     object
open      float64
close     float64
low       float64
high      float64
volume    float64
dtype: object

### Drop columns `date` and  `symbol`

In [0]:
data = data.drop(columns="date") 
data = data.drop(columns="symbol")

In [0]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [0]:
data['volume_trans'] = data['volume']/1000000
data[:1000]

           open       close         low        high      volume  volume_trans
0    123.430000  125.839996  122.309998  126.250000   2163600.0        2.1636
1    125.239998  119.980003  119.940002  125.540001   2386400.0        2.3864
2    116.379997  114.949997  114.930000  119.739998   2489500.0        2.4895
3    115.480003  116.620003  113.500000  117.440002   2006300.0        2.0063
4    117.010002  114.970001  114.089996  117.330002   1408600.0        1.4086
5    115.510002  115.550003  114.500000  116.059998   1098000.0        1.0980
6    116.459999  112.849998  112.589996  117.070000    949600.0        0.9496
7    113.510002  114.379997  110.050003  115.029999    785300.0        0.7853
8    113.330002  112.529999  111.919998  114.879997   1093700.0        1.0937
9    113.660004  110.379997  109.870003  115.870003   1523500.0        1.5235
10   109.059998  109.300003  108.320000  111.599998   1653900.0        1.6539
11   109.730003  110.000000  108.320000  110.580002    944300.0        0.9443
12   111.879997  111.949997  110.190002  112.949997    744900.0        0.7449
13   111.320000  110.120003  110.000000  114.629997    703800.0        0.7038
14   110.419998  111.000000  107.300003  111.400002    563100.0        0.5631
15   110.769997  110.709999  109.019997  112.570000    896100.0        0.8961
16   110.900002  112.580002  109.900002  112.970001    680400.0        0.6804
17   113.349998  114.470001  111.669998  114.589996    749900.0        0.7499
18   114.000000  114.500000  112.900002  114.849998    574200.0        0.5742
19   113.250000  110.559998  109.750000  113.860001    694800.0        0.6948
20   113.379997  114.050003  109.639999  114.639999    896300.0        0.8963
21   114.080002  115.709999  114.080002  116.320000    956300.0        0.9563
22   115.120003  114.019997  109.709999  116.489998    997100.0        0.9971
23   113.300003  111.160004  110.459999  113.300003   1200500.0        1.2005
24   111.169998  110.650002  109.639999  112.110001   1725200.0        1.7252
25   106.730003  107.519997  106.360001  112.110001   1946000.0        1.9460
26   105.629997  107.129997  104.110001  109.260002   1319500.0        1.3195
27   108.559998  107.839996  107.070000  109.430000    922400.0        0.9224
28   109.110001  110.769997  107.010002  111.300003   1185100.0        1.1851
29   110.830002  111.239998  107.970001  112.110001    921500.0        0.9215
..          ...         ...         ...         ...         ...           ...
970   19.240000   18.680000   18.530001   19.430000   9097500.0        9.0975
971   20.520000   20.290001   19.709999   20.549999   2242100.0        2.2421
972   12.950000   13.550000   12.720000   13.600000   6205100.0        6.2051
973   76.059998   75.440002   75.349998   76.370003    864600.0        0.8646
974   19.620001   19.830000   19.480000   19.830000    709200.0        0.7092
975   88.000000   87.370003   87.139999   88.239998   1129600.0        1.1296
976   31.010000   30.959999   30.700001   31.120001   3449300.0        3.4493
977   35.900002   35.189999   34.930000   35.910000   7517100.0        7.5171
978   76.620003   77.650002   76.550003   77.790001   2356500.0        2.3565
979   25.799999   26.420000   25.719999   26.610001   4839200.0        4.8392
980   30.370001   31.059999   30.309999   31.110001   3684600.0        3.6846
981   23.120001   22.920000   22.740000   23.129999  14428400.0       14.4284
982   39.790001   39.610001   39.090000   39.799999   1463300.0        1.4633
983   24.669997   25.140004   24.669997   25.160000    749600.0        0.7496
984   11.250000   11.770000   11.200000   11.790000  13355100.0       13.3551
985    1.630000    1.650000    1.600000    1.660000  11538300.0       11.5383
986   17.020000   16.860001   16.790001   17.209999   9931300.0        9.9313
987  257.840004  256.079998  253.050003  257.959995  12906000.0       12.9060
988   48.099998   48.150002   47.700001   48.369999    369900.0        0.3699
989   34.529999   34.430000   34.080002   34.750000   2701000.0        2.7010
990   27.570000   27.790001   27.370000   27.919999   2627800.0        2.6278
991   14.200000   14.420000   14.120000   14.430000   3258700.0        3.2587
992   19.900000   19.580000   19.330000   20.059999   5206100.0        5.2061
993   62.660000   62.299999   62.189999   62.750000   7099000.0        7.0990
994   29.219999   28.719999   28.629999   29.309999   7795500.0        7.7955
995   63.310001   63.590000   63.240002   63.639999   2133200.0        2.1332
996   27.160000   26.990000   26.680000   27.299999   1982400.0        1.9824
997   28.320000   28.770000   28.010000   28.809999  37152800.0       37.1528
998   44.000000   44.799999   43.750000   44.810001   6568600.0        6.5686
999   36.080002   37.139999   36.009998   37.230000   5604300.0        5.6043

[1000 rows x 6 columns]

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split
X = data.drop("volume_trans" , axis=1)
y = data.pop("volume_trans")
train_set, test_set, train_labels, test_labels = train_test_split(X, y, test_size=.30, random_state=1)

#### Convert Training and Test Data to numpy float32 arrays

In [0]:
import numpy as np
train_set = np.float32(train_set)
test_set = np.float32(test_set)
train_labels = np.float32(train_labels)
test_labels = np.float32(test_labels)

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(train_set)
transformer
train_transform=transformer.transform(train_set)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
W = tf.Variable(tf.zeros(shape=[5,1]), name="Weights")
b = tf.Variable(tf.zeros(shape=[1]),name="Bias")

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

2.Define a function to calculate prediction

In [0]:
y = tf.add(tf.matmul(train_transform,W),b,name='output')

y_ = tf.placeholder(shape=[None],dtype=tf.float32, name='y-input')3.Loss (Cost) Function [Mean square error]

In [0]:
x = tf.placeholder(shape=[None,5],dtype=tf.float32, name='x-input')
y_ = tf.placeholder(shape=[None],dtype=tf.float32, name='y-input')
loss = tf.reduce_mean(tf.square(y-y_),name='Loss')

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
train_op = tf.train.GradientDescentOptimizer(0.03).minimize(loss)

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Test loss at every 5th iteration

In [0]:
#Lets start graph Execution
sess = tf.Session()

# variables need to be initialized before we can use them
sess.run(tf.global_variables_initializer())

#how many times data need to be shown to model
training_epochs = 100

for epoch in range(training_epochs):
            
    #Calculate train_op and loss
    _, train_loss = sess.run([train_op,loss],feed_dict={x:train_transform, y_:y})
    
    if epoch % 10 == 0:
        print ('Training loss at step: ', epoch, ' is ', train_loss)

### Get the shapes and values of W and b

### Model Prediction on 1st Examples in Test Dataset

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [0]:
from keras.models import Sequential
from keras.layers import Dense
import numpy
iris = pd.read_csv('/gdrive/My Drive/Colab Notebooks/Iris.csv')

In [0]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [0]:
categorial_features = ['Species']

for categorical_feature in list(iris.columns):
    if categorical_feature in categorial_features:
        iris[categorical_feature] = iris[categorical_feature].astype('category')
        iris_with_dummies = pd.get_dummies(iris, sparse=True)
        label_encoder = LabelEncoder()
iris_encoded = label_encoder.fit_transform(values)

In [0]:
import numpy as np 
import pandas as pd
from sklearn import preprocessing 
iris['Species'].unique() 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
iris['Species']= label_encoder.fit_transform(iris['Species']) 
  
iris['Species'].unique()

array([0, 1, 2])

In [0]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

### Splitting the data into feature set and target set

In [0]:
from sklearn.model_selection import train_test_split
X = iris.drop("Species" , axis=1)
y = iris.pop("Species")

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [0]:
model = Sequential()
#Adding 3 dense layers
model.add(Dense(1, input_dim=5,init='uniform'))
model.add(Dense(5,init='uniform'))
model.add(Dense(3,init='uniform'))

# Compile model
model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])
# Fit the model
model.fit(X, y, nb_epoch=20, batch_size=10,  verbose=2)
# evaluate the model

scores = model.evaluate(X, y)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

### Model Training

### Model Prediction

### Save the Model

In [0]:
model.save('iris.h5')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?