In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

sales = pd.read_csv("sales.csv")
sales.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [ ]:
#Question 1
#Find the mean of old scheme and new scheme column.

In [17]:
sales["Old Scheme (in thousands)"].mean()

68.03333333333333

In [18]:
sales["New Scheme (in thousands)"].mean()

72.03333333333333

In [ ]:
#Question 2
#Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

#Null Hypothesis : New scheme does not have significantly raised outputs

#Alternate Hypothesis : New scheme has significantly raised outputs

In [19]:
from scipy.stats import ttest_rel
two_sample=ttest_rel(sales['Old Scheme (in thousands)'],sales['New Scheme (in thousands)'])
two_sample

Ttest_relResult(statistic=-1.5559143823544377, pvalue=0.13057553961337662)

In [ ]:
#Question 3
#What conclusion does the test (p-value) lead to?

In [ ]:
#Answer 3 : p=0.1305/2=0.065 p>0.05 Hence null hypothesis is accepted. New scheme does not have significantly raised outputs

In [ ]:
#Question 4
#Suppose it has been calculated that in order for Titan to break even, 
#the average output must increase by Â£5000 in the scheme compared to the old scheme. 
#If this figure is alternative hypothesis, what is:
#a) The probability of a type 1 error? (2 points)
#b) What is the p- value of the hypothesis test if we test for a difference of $5000? (8 points)
#c) Power of the test (5 points)

In [ ]:
#Null Hypothesis : New scheme sales has avg 5k less than old scheme sales 

#Alternate Hypothesis : New scheme sales has avg 5k more than old scheme sales 

# a) probability of a type 1 error is 5%, if alpha is less tha 5% then reject Null hypothesis (typw 1 error)
# b) Null Hyp : mean1-mean2=5k
#    Alt Hyp : mean1-mean2^=5k

In [27]:
from scipy import stats

stats.ttest_ind(sales['Old Scheme (in thousands)'], sales['New Scheme (in thousands)'], equal_var = False)

Ttest_indResult(statistic=-0.6937067608923764, pvalue=0.4907066557404972)

In [ ]:
# P value is > 5% so do not reject Null Hypothesis and difference between sales mean = 5K

In [31]:
# Answer c : Power of ttest
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro,bartlett
from statsmodels.stats.power import ttest_power
import matplotlib.pyplot as plt
%matplotlib inline
g1=sales['Old Scheme (in thousands)']
g2=sales['New Scheme (in thousands)']
n1=len(g1)
n2=len(g2)
d=(np.mean(g1) - np.mean(g2)) / np.sqrt(((n1-1)*np.var(g1)+(n2-1)*np.var(g2)) / n1+n2-2)
ttest_power(d, nobs=n1+n2, alpha=0.05, alternative='two-sided')

0.16610169779030542